<% layout("./layouts/boilerplate") %>

<body>
    <div class="row">
        <div class="alert alert-danger alert-dismissible fade show col-6 offset-3 mt-4" role="alert">
            <h5 class="alert-heading"><%= err.message%></h5>  
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
</body>
