<% layout("./layouts/boilerplate") %>

<body>
    <div class="showImage" style="width: 100vw;  display: flex; justify-content: center; align-items: center;">
        <img src="/uploads/<%= image.FileName %>" alt="img" style="width: 95vw;   border-radius: 0.5rem;" class="my-5">
    </div>
</body>
